body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F7F7F7;
    color: #1A202C;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A45EE5; /* morado principal */
    color: white;
    padding: 20px;
}

a {
    color: #710193; /* morado claro */
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    width: 200px;
    height: auto;
}

