body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F7F7F7;
    color: #1A202C;
}

header {
    background-color: #6B46C1; /* morado principal */
    color: white;
    padding: 20px 0;
}

a {
    color: #9F7AEA; /* morado claro */
    text-decoration: none;
    margin: 0 10px;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 200px;
    height: auto;
}

